<h1>Update Game</h1>
<form id="update-game-form"
      hx-put="/games/<%= data.id %>"
      hx-target="#update-game-form"
      hx-swap="outerHTML"
      method="POST"
      enctype="multipart/form-data"
      hx-encoding="multipart/form-data">
  <%- include('_form', { data: data || {}, buttonText: 'Update', error: typeof error !== 'undefined' ? error : null }) %>
</form>
